body {
	background-color: #524632;
	display: flex; 
}

.wrapper {
	background-color: #A2BEA5;
	padding: 50px;
	display: flex;
	text-align: center;
}

.block {
	background-color: #524632
}

h1 {
	color: #A2BEA5;
	text-transform: uppercase;
	text-align: center;
	padding: 15px;
}

h3 {
	color: #A2BEA5;
	text-transform: uppercase;
	padding: 20px;
}

p  { 
	color: #A2BEA5;
	text-align: justify;
	margin: 20px;
}


footer {
	text-align: center;
	font-size: 12px;
	color: #A2BEA5;
	padding: 10px
